.profile {
  min-height: 100%;
  width: 100%;

  .avatar {
    align-items: center;
    display: flex;
    flex-flow: column;
    gap: 0.5rem;
    justify-content: center;
    padding: 1rem 0 2rem;
    width: 100%;

    figure {
      align-items: center;
      display: flex;
      flex-flow: column;
      gap: 0.5rem;

      img {
        background: #fff;
        border-radius: 50%;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        height: 80px;
        object-fit: cover;
        overflow: hidden;
        width: 80px;
      }

      figcaption {
        font-size: clamp(1.1rem, 2vw, 1.2rem);
        font-weight: bold;
      }
    }

    .edit-btn {
      background: none;
      border-style: none;
      cursor: pointer;

      &:hover {
        transform: scale(1.01);
        transition: 0.2s all ease;
      }
    }
  }

  &-data {
    display: flex;
    flex-flow: column;
    gap: 1rem;
    padding: 0 0 3rem;
    width: 100%;
    
    label p {
      font-size: clamp(0.8rem, 2vw, 1rem);
      padding: 0 0 0.3rem;
    }

    input {
      border-radius: 0.5rem;
      border-style: none;
      padding: 1rem;
      width: 100%;
    }

    .save-btn {
      background: var(--black);
      border-radius: 5rem;
      border-style: none;
      color: var(--white);
      cursor: pointer;
      margin: 1rem 0;
      padding: 1rem;
    }
  }
}
