$pink: #fec7d7;
$purple: #a786df;
$gray: #535353;
$aqua: #85d1ce;
$blue: #91c1d7;
$white: #fffffe;
$black: #0e172c;

:root {
  --pink: #{$pink};
  --purple: #{$purple};
  --gray: #{$gray};
  --aqua: #{$aqua};
  --blue: #{$blue};
  --white: #{$white};
  --black: #{$black};
}

