@use '@styles/breakpoints' as size;

.main-footer {
  background: var(--black);
  color: var(--white);
  display: none;
  
  flex-flow: column;
  gap: 1rem;
  grid-area: footer;
  //height: min-content;
  justify-content: center;
  padding: 3rem 2rem 2em;

  .icons-wrapper {
    align-items: center;
    display: flex;

    svg {
      margin: 1rem;

      &:first-child {
        margin-left: 0;
      }
    } 

    i::before {
      font-size: 28px;
      margin: 0 1rem 1rem;
    }
  }

  .rights {
    margin: 3rem 0 0;
  }
}

@media screen and(min-width: size.$mobile) {
  .main-footer {
    display: flex;
  }
}
